<div class="card">
    <div class="card-img-wrapper">
        <img *ngIf="property.Image" src="assets/Images/{{property.Image}}.jpg" class="card-img-top">
        <img *ngIf="!property.Image" src="assets/Images/HouseClipart.jpg" class="card-img-top">
        <ul class="list-inline text-center member-icon animate">
            <li  class="list-inline-item">
                <button class="btn btn-primary" routerLink="/property-details/{{property.Id}}"><i class="bi bi-pencil-square"></i></button>
            </li>
            <li  class="list-inline-item">
                <button class="btn btn-primary"><i class="bi bi-person-lines-fill"></i></button>
            </li>
        </ul>
    </div>
       <div class="card-body p-2">
            <h1>{{property.Name}}</h1>
            <h2>{{property.Type}}</h2>
            <h3>{{property.Price}}</h3>
        </div>
</div>